{% extends "base.html" %}
{% load static %}
{% block title %}Settings{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/setting.css' %}">
<div class="profile-container">
    <form method="post">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="form-group">
            <label for="id_username">Username</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="id_email">Email</label>
            {{ form.email }}
        </div>
        <div class="button-group">
            <button type="submit">Save</button>
            <button type="button" id="change-password-button">Change Password</button>
        </div>
    </form>
    <form method="post" action="{% url 'setting' %}" id="change-password-form" style="display:none;">
        {% csrf_token %}
        <input type="hidden" name="action" value="change_password">
        {{ change_password_form.as_p }}
        <button type="submit">Change Password</button>
    </form>

    <script>
        document.getElementById('change-password-button').addEventListener('click', function() {
            document.getElementById('change-password-form').style.display = 'block';
        });
    </script>
</div>
{% endblock %}
