{% extends "base.html"  %}
{% load static %}
{%block title%} task {%endblock%}

{%block content%}

<div class="todo-container">
    <div class="todo-search">
      <form action="" method="POST">
        {% csrf_token %}
        {{form.title}}
        <button type="submit" name="add_task">Add</button>
      </form>
    </div>
  
    <div class="todo-list">
      
      <div class="todo">
        <h3>Doing</h3>
        {% for task in d_tasks %}
        <form action="" method="POST">
          {% csrf_token %}
          <div class="task">
            <input type="hidden" name="task_id" value="{{ task.id }}">
            <input type="checkbox" name="completed" {% if task.completed %}checked{% endif %} onchange="this.form.submit()">
            <p>{{task.title}}</p>
          </div>
        </form>
        {% endfor %}
      </div>
      <div class="todo">
        <h3>Completed</h3>
        {% for task in c_tasks %}
        <form action="" method="POST">
          {% csrf_token %}
          <div class="task">
            <input type="hidden" name="task_id" value="{{ task.id }}">
            <input type="checkbox" name="completed" {% if task.completed %}checked{% endif %} onchange="this.form.submit()">
            <p>{{task.title}}</p>
          </div>
        </form>
        {% endfor %}
      </div>
        
  
    </div>
</div>
  
{%endblock%}