*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}
body{
    display: flex;
    width: 100%;
}
.sidebar{
    width: 4%;
    height: 100vh;
    background-color: rgb(2, 2, 2);
}
.sidebar a{
    text-decoration: none;
}

.sidebar button{
    padding: 25px;                 
    height: fit-content;
    background-color: transparent;
    display: block;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 20px;
    filter: brightness(70%); 
}
.sidebar button:hover{
    filter: brightness(100%); 
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    color: #818181;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right .material-icons {
    margin-right: 15px;
    color: #666;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.content{
    width: 96%;
}
