*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    border: none;
}
body{
    display: flex;
}
.sidebar{
    width: 70px;
    height: 100vh;
    background-color: rgb(2, 2, 2);
    margin-right: 10px;
}
.sidebar a{
    text-decoration: none;
}

.sidebar button{
    padding: 25px;                 
    height: fit-content;
    background-color: transparent;
    display: block;
    width: 50px;
    height: 100px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    filter: brightness(70%); 
}
.sidebar button:hover{
    filter: brightness(100%); 
}