/* Center the form within the parent div */
.todo-container {
    text-align: center;
    background-color: #ffffff00;
}

.add-task {
    background-color: #333;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 20px;
    width: 600px;
}

.add-task input {
    background: none;
    border: none;
    color: white;
    flex-grow: 1;
    font-size: 16px;
    width: 500px;
}

.add-task input::placeholder {
    color: #888;
}

.add-task .glyphicon-collapse-down {
    color: #ffffff;
    cursor: pointer;
}

.todo-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 800px;
}

.todo {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 700px;
    min-height: 600px;
}

.todo h3 {
    margin-bottom: 10px;
}

.task-item {
    background-color: #333;
    border-radius: 8px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 10px;
    color: white;
}

.task-item .material-icons {
    color: #666;
    margin-right: 10px;
}

.completed-section h2 {
    font-size: 18px;
    font-weight: normal;
    color: #888;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.completed-section h2 .material-icons {
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.completed-tasks {
    display: none;
}

.completed-tasks.show {
    display: block;
}

.completed-task {
    background-color: #333;
    border-radius: 8px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: white;
}

.completed-task .material-icons {
    margin-right: 10px;
    color: #4CAF50;
}

.date {
    color: #666;
    font-size: 14px;
}
