*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-image: url('/static/image/world.jpg');
    background-size:auto; /* Để ảnh nền tự động co giãn theo kích thước màn hình */
    background-repeat: no-repeat; /* Không lặp lại ảnh nền */

}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(1.3px); /* Điều chỉnh độ mờ */
    z-index: -1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: large;
}

.login-btn {
    border: 2px solid #333;
    padding: 20px 40px;
    border-radius: 30px;
}

/* .signup-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
} */
.signup-btn {
    border: 2px solid #333;
    padding: 20px 40px;
    border-radius: 30px;
}
.login-btn:hover {
    background-color: #fffdfd;
    color: #000000;
    border: 2px solid #333;
    transition: background-color 0.3s, color 0.3s;
}
.signup-btn:hover {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px 0;
}

/* Định nghĩa hiệu ứng xuất hiện và di chuyển */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px); /* Bắt đầu từ vị trí thấp hơn 20px */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Kết thúc tại vị trí ban đầu */
    }
}
/* Định nghĩa hiệu ứng phát sáng */
@keyframes glow {
    0% {
        text-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 1px #fdffe3, 0 0 1px #fdffe3, 0 0 1px #fdffe3, 0 0 1px #fdffe3, 0 0 1px #fdffe3;
    }
    50% {
        text-shadow: 0 0 2px #fff, 0 0 20px #fdffe3, 0 0 2px #fdffe3, 0 0 2px #fdffe3, 0 0 2px #fdffe3, 0 0 2px #fdffe3, 0 0 2px #fdffe3;
    }
    100% {
        text-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 1px #fdffe3, 0 0 1px #fdffe3, 0 0 1px #fdffe3, 0 0 1px #fdffe3, 0 0 1px #fdffe3;
    }
}
/* Áp dụng hiệu ứng cho tiêu đề h1 trong lớp .content */
.content h1 {
    font-size: 80px;
    color: #ffffff;
    opacity: 0; /* Bắt đầu với độ mờ bằng 0 */
    animation: fadeInUp 1s ease-in-out forwards, glow 2s infinite; /* Hiệu ứng xuất hiện và di chuyển trong 2 giây */
}
.illustration img {
    max-width: 100%;
    height: 500px;
}
